/* =============================================================================
   HTML5 element display
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* =============================================================================
   Base
   ========================================================================== */
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
body { background:#fff; margin:0; font:12px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important; color:#FFF;  }
button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #f60; color: #fff; text-shadow: none; }
::selection { background: #f60; color: #fff; text-shadow: none; }

/***** Reset *****/
body, div, img, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt,
blockquote, form, fieldset, legend, label, input, textarea, img {
	margin:0; padding:0; border:0;
}

/* =============================================================================
   Links
   ========================================================================== */
a {	color: #345A45; text-decoration: none; outline: 0; }
a:visited { text-decoration: none; color: #335A45; }
a:hover { text-decoration: underline; color: #CEC383; }
a:active { text-decoration: none; color: #456D57; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; color: #333; }
blockquote { margin: 1em 40px; }
dfn, em { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
p { margin:0 0 15px 0; }
p img { margin:0; }
h1, h2, h3, h4, h5, h6 { margin: 0.18em 0 1em 0; color: #FFF; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:inherit; font-weight: inherit; }

/* Text Font Sizes */
h1{font-size: 3.333333333em;} /* 40px / 12px */
h2{font-size: 2.5em;} /* 30px / 12px */
h3{font-size: 1.666666667em;} /* 20px / 12px */
h4{font-size: 1.3333333em;} /* 16px / 12px */
h5{font-size: 1.166666667em;} /* 14px / 12px */
h5{font-size: 1em;} /* 12px / 12px */

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

blockquote, blockquote p { font-size:16px; line-height:21px; color:#cdcdcd; font-style:italic; }
blockquote { margin:10px 0; padding:0px 20px 0 19px; border-left:1px solid #eee; }
blockquote cite { display:block; font-size:12px; color:#555; }
blockquote cite:before { content:"\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color:#555; }

/* Lists
   ========================================================================== */
ul, ol { list-style:none; list-style-image:none; }
dd { margin: 0 0 0 40px; display:block; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }

/* #Buttons
================================================== */
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
#contact-form #submit-button, #contact-form #reset-button, #property-contact-form #submit-button, #property-contact-form #reset-button {
	background: #eee; /* Old browsers */
	background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%) !important; /* FF3.6+ */
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))) !important; /* Chrome,Safari4+ */
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%) !important; /* Opera11.10+ */
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%) !important; /* IE10+ */
	background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%) !important; /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 4px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
#contact-form #submit-button:hover, #property-contact-form #submit-button:hover,
#contact-form #reset-button:hover, #property-contact-form #reset-button:hover {
color: #222;
background: #ddd; /* Old browsers */
	background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%) !important; /* FF3.6+ */
	background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))) !important; /* Chrome,Safari4+ */
	background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%) !important; /* Opera11.10+ */
	background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
	background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%) !important; /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }
a.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
#contact-form #submit-button:active, #property-contact-form #submit-button:active,
#contact-form #reset-button:active, #property-contact-form #reset-button:active {
	border: 1px solid #666;
	background: #ccc; /* Old browsers */
	background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%) !important; /* FF3.6+ */
	background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4)))  !important; /* Chrome,Safari4+ */
	background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%) !important; /* Opera11.10+ */
	background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%) !important; /* IE10+ */
	background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%) !important; /* W3C */ }
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center; }
	
/* #Tabs (activate in tabs.js)
================================================== */
ul.tabs {
	display: block;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: solid 1px #ddd; }
ul.tabs li {
	display: block;
	width: auto;
	height: 30px;
	padding: 0;
	float: left;
	margin-bottom: 0; }
ul.tabs li a {
	display: block;
	text-decoration: none;
	width: auto;
	height: 29px;
	padding: 0px 20px;
	line-height: 30px;
	border: solid 1px #ddd;
	border-width: 1px 1px 0 0;
	margin: 0;
	background: #f5f5f5;
	font-size: 13px; }
ul.tabs li a.active {
	background: #fff;
	height: 30px;
	position: relative;
	top: -4px;
	padding-top: 4px;
	border-left-width: 1px;
	margin: 0 0 0 -1px;
	color: #111;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px; }
ul.tabs li:first-child a.active {
	margin-left: 0; }
ul.tabs li:first-child a {
	border-width: 1px 1px 0 1px;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px; }
ul.tabs li:last-child a {
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px; }
	ul.tabs-content { margin: 0; display: block; }
ul.tabs-content > li { display:none; }
ul.tabs-content > li.active { display: block; }
/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
ul.tabs:after { clear: both; }
ul.tabs {  zoom: 1; }

/* =============================================================================
   Embedded content & Figures
   ========================================================================== */
img { -ms-interpolation-mode:bicubic; max-width:100%; }
figure { margin:0; }

/* =============================================================================
   GENERAL FORM STYLES
   ========================================================================== */
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* Tables
   ========================================================================== */
table { border-collapse:collapse; border-spacing:0; }

/* =============================================================================
   Primary styles
   Author: Clint Losee
   GENERAL STYLES
   ========================================================================== */
body { background: url("../img/background.jpg") repeat-x scroll transparent; }
.breadcrumb { margin-bottom:10px; }
.breadcrumb li { display:inline; }
.breadcrumb li a { color:#FFF; padding:0 2px; }

/* HEADER STYLES
   ========================================================================== */
header { width:810px; height:60px;	margin:0 auto;	padding:10px 0; }
#header-bar { width:100%; background-color:#FFF; }
header h1, header h1 a { 
	float:left;  
	border:0;
	font:0/0 a;
	text-shadow:none;
	color:transparent;
	background:url("../img/logo.jpg");
	width:350px;
	height:67px;
}

/* Navigation */
#nav, #nav ul { 
	line-height:1.5em;
	display:inline-block;
	position:relative;
	z-index:10;
	text-transform:uppercase;
	margin:10px 0 0 0;
}
#nav li { 
	float:left;
	position:relative;
	border-bottom: 1px solid #DCD282;
	margin:0 0 0 10px;
}
/* Main Level Link */
#nav a { 
	color: #345A45;
	text-decoration:none;
	display:block;
	text-align:left;
	padding:8px 20px 8px 5px;
}
#nav ul a:hover { 
	background:#345A45;
	color:#fff;
}
/** Level 2 list **/
#nav ul { 
	background:#D5CD96;
	display:none;
	width:12.7em;
	text-transform:none;
	position:absolute;
	left:0;
	top:25px;
	border:1px solid #b4b4b4;
}
/** Dropdown Hover **/
#nav ul li:hover { border:1px solid #FFF; }
#nav ul li { 
	float:none;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin:0;
}
/** Level 3 lists **/
#nav ul ul { left:12.4em; top:-12px; }

/* =============================================================================
   MAIN CONTENT STYLES
   ========================================================================== */
#wrapper { margin:0 auto; width:810px; background:#323232; } /* width of 64.2% works */
#main-content { width:92%; margin:5px auto 25px; }
#main-content h2 { font-size:1.3em; font-weight:bold; padding:5px 0 5px; margin:0; }
#main-content h3 { font-size:1.25em; font-weight:bold; padding:0px 0 5px; margin:0; }
#main-content h4 { font-size:1.2em; font-weight:bold; padding:15px 0 0 0; margin:0; }
#main-content h6 { font-size:1.1em; font-weight:bold; padding:20px 0 0 0; margin:0; }
#main-content a { color:#FFF; }
#main-content a:hover { color:#222; color:#D5CD96; }
#main-content p a { color:#D5CD96; }
#main-content img { margin-top:5px; }
#main-content dl dt { font-weight:bold; padding:5px 0 0; }

.mainhead { font-size:1.25em !important; padding:5px 0 !important; }
#slider { margin-top:-3px; }
.main-links{ float:left; padding:35px 0; padding:15px 0\9; }
.main-links .center-img { padding:0 15px; }
.main-links h2 { margin:15px 0 10px; }
.main-links h2 a { display:block; width:234px; height:54px; text-indent:-9999px; }
.main-links a:hover { opacity:.9; }
.main-links h2 a:hover { 
	-moz-box-shadow:2px 2px 3px 4px #232323;
	-webkit-box-shadow:2px 2px 3px 4px #232323;
	box-shadow:2px 2px 3px 4px #232323;
}
.sureclose-btn h2 a { background:url("../img/sureclose_btn.gif"); }
.rate-btn h2 a { background:url("../img/rate_btn.gif"); margin:0 0 0 15px; }
.gfe-btn  h2 a { background:url("../img/gfe_btn.gif"); }
.content-img { float:left; margin:10px 85px 30px; }
.content-img a { display:block; text-align:center; }
.content-img img { 
	-moz-box-shadow:2px 2px 3px 4px #232323;
	-webkit-box-shadow:2px 2px 3px 4px #232323;
	box-shadow:2px 2px 3px 4px #232323; 
}
.expertise { float:right; width:75%; }
.testimonial ul { margin:0 0 20px 20px; }
.testimonial h5 { margin:0; padding:0; font-size:1.1em; font-weight:bold; }
#needlist { text-align:center; }
#utahrealtors { text-align:center; }
/* Page/Buyer/Financial Links Styles */
.page-links { width:60%; margin:0 auto 10px; font-size:1.3em; font-weight:bold; }
.page-links ul, .financial-links ul { overflow:auto; }
.page-links ul li { float:left; border-right:1px solid #fff; padding:0 20px; }
.page-links ul li:last-child, .financial-links ul li:last-child { border-right:none; }
.financial-links { width:65%; margin:0 auto 10px; font-size:1.2em; font-weight:bold; }
.financial-links ul li { float:left; border-right:1px solid #fff; padding:0 20px; }
.buyer-links { width:100%; margin:0 auto 10px; font-weight:bold; }
.buyer-links li { display:inline; text-align:center; padding:0 4px 0 6px; border-left:1px solid; }
.buyer-links li:first-child { border:none; }
ul#why-list { width:100%; text-align:center; }
.column1, .column2 { width:50%; float:left; margin-bottom:20px; }
.column1 ul, .column2 ul { margin:0 0 15px 0; }
.column2 h2 { padding-bottom:20px !important; }
section { clear:both; }
/*  Employee Page Styles */
.team-item { float:left; width:150px; margin:0 18px 20px; text-align:center; }
.team-item a { color:#FFF; }
.team-item h3 { font-size:1.1em; font-weight:bold; margin:0; }
.team-item img {
	-moz-box-shadow:2px 2px 3px 4px #232323;
	-webkit-box-shadow:2px 2px 3px 4px #232323;
	box-shadow:2px 2px 3px 4px #232323; 
}
#admin-team a { float:left; color:#fff;	font-weight:bold; margin:0 70px 50px 20px; }
.employee-info { width:25%; float:left; padding:0 0 50px 0; }
.employee-info p { margin:0px 0; }
.employee-bio { float:left; width:70%; padding:0 0 50px 30px; }
.employee-bio h3 { padding:25px 0 10px 0; margin:0; }
/*  Office Location Styles */
.office { float:left; width:35%; padding:20px 50px; text-align:center; }
.office:last-child { padding-bottom:70px; }
.office a img { 
	-moz-box-shadow:2px 2px 3px 4px #232323;
	-webkit-box-shadow:2px 2px 3px 4px #232323;
	box-shadow:2px 2px 3px 4px #232323;
}
#map { float:left; margin:15px 0 40px 0; }
#map a { color:#ccc; }
#officeInfo { margin:0; text-align:center; }
#officeInfo img { margin:15px 0 0 0; }
#officeInfo h2 { margin-bottom:0; text-transform:uppercase; }

/* =============================================================================
   FOOTER STYLES
   ========================================================================== */
footer {
	background-color: #D5CD96;
	color:#222;
	font-size:.9em;
	text-align:center;
	line-height:1.5em;
	padding:0 0 15px 0;
	border-top:3px solid #FFF;
	clear:both\9;
	width:810px\9;
}
.teamFooter {
	margin-left:-32px\9;
}
footer h4, footer h5 { 
	color:#222; 
	text-transform:uppercase; 
	margin:10px auto 0;
}
footer p { margin-bottom:5px; }
.footer-loc {
	float:left;
	width:21%;
	width:20%\9;
	margin:5px 15px 20px;
	text-align:center;
}

/* =============================================================================
   SPECIFIC FORM STYLES
   ========================================================================== */
#contact-map { float:left; margin:10px 0 0 0; }
#contact-form {
	float:right;
	width:405px;
	padding:0px;
	margin:10px 0 40px 0;
	position:relative;
	z-index:1;
}
#contact-form input, #contact-form select, #contact-form textarea { margin:0 0 0 125px; }
#contact-form input, #contact-form select, #contact-form textarea, #contact-form label, #property-contact-form input, #property-contact-form select, #property-contact-form textarea,
#property-contact-form label { font-size:1.1em; margin-bottom:2px; }
#contact-form input, #contact-form select, #contact-form textarea {
	width:270px;
	border: 1px solid #CEE1E8;
	margin-bottom:20px;
	padding:4px;
	display:block;
	background-color:#D5CD96;
	color:#222;
}
#contact-form select { width:280px; } 
#contact-form input:focus, #contact-form select:focus, #contact-form textarea:focus, #property-contact-form input:focus, #property-contact-form select:focus, 
#property-contact-form textarea:focus { border:1px solid #AFCDD8; background-color:#EBF2F4; }
#contact-form textarea, #property-contact-form textarea  { height:150px; resize: none; }
#contact-form label, #property-contact-form label { float:left; }
#contact-form .required , #property-contact-form .required { font-weight:bold; color:#F00; }
#contact-form #submit-button, #contact-form #reset-button, #property-contact-form #submit-button, #property-contact-form #reset-button {
	width: 100px;
	float:left;
}
#contact-form #reset-button, #property-contact-form #reset-button { position:absolute; left:180px; }
#contact-form #submit-button:active, #property-contact-form #submit-button:active { position:relative; top:1px; }
/* Title Report Order Form Styles */
#property-contact-form {
	width:86%;
	padding:10px;
	margin:0 auto 50px;
	position:relative;
	z-index:1;
}
#property-contact-form input, #property-contact-form select, #property-contact-form textarea { 
	margin:0px 0 0 360px;
}
#property-contact-form input, #property-contact-form select, #property-contact-form textarea { 
	background-color:#D5CD96; 
}
#property-contact-form input, #property-contact-form select, #property-contact-form textarea  {
	width:270px;
	border: 1px solid #CEE1E8;
	margin-bottom:10px;
	padding:4px;
	display:block;
}
#property-contact-form #submit-button, #property-contact-form #reset-button { margin:5px 0 0 200px; }
#property-contact-form select { width:280px; }
#property-contact-form fieldset { margin:20px 0; }
#property-contact-form fieldset p { font-size:.95em; }
#property-contact-form legend { font-weight:bold; font-size:1.2em; }
/* Pagination */
ul.simplePagerNav { width:40%; margin:0 auto; }
ul.simplePagerNav li {
	display:inline-block;
	margin:15px 0 30px;
	border:1px solid #CCC;
	text-align:center;
	position:relative;
}
ul.simplePagerNav li { position:relative; float:left; }
ul.simplePagerNav li a {
	color: #fff !important; /* color of page number */
	text-decoration: none;
	padding:3px 10px;
	outline:0;
}
ul.simplePagerNav li a:hover { background:#D5CD96; }
.simplePagerNav li a:hover { width:100%; color:#222 !important; }
li.currentPage { background: #345A45; /* background color of current page */ }
ul.simplePagerNav li.currentPage a { color: #fff; /* color of page number current page */ }

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hide-text{ text-indent:100%; white-space:nowrap; overflow:hidden; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear:both; }
.clearfix { clear:both; zoom: 1; }
.upper { text-transform:uppercase; }
.imgcenter { margin-left:170px; padding:15px 0; }

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
